.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #5f2c82, #49a09d);
}

.auth-card {
  background: #1f1f2e;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.auth-card h2 {
  margin-bottom: 10px;
}

.auth-card p {
  color: #aaa;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #2c2c44;
  color: white;
}

.auth-card input::placeholder {
  color: #aaa;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #6c4ccf;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #8a6cff;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-text a {
  color: #66fcf1;
  text-decoration: none;
}